img {
  width: 100%;
}
.container {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  display: block;
}

.container img {
  display: block;
  z-index: 1;
  padding: 5px;
}

.container .fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  animation: pulse 1s ease infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

h1 {
  font-family: "Lexend Mega", sans-serif;
}
